@page "/cascade_select"
@using NorthwindCloudApp
@using Financial

<div class="row-layout cascade-select-container">
    <div class="row-layout group">
        <IgbSelect Outlined="true" Label="Country" class="select" cascade_select-scope>
            <IgbSelectItem Value="Option">
                Option
            </IgbSelectItem>
        </IgbSelect>
        <IgbSelect Outlined="true" Label="Region" class="select_1" cascade_select-scope>
            <IgbSelectItem Value="Option">
                Option
            </IgbSelectItem>
        </IgbSelect>
        <IgbSelect Outlined="true" Label="State" class="select_2" cascade_select-scope>
            <IgbSelectItem Value="Option">
                Option
            </IgbSelectItem>
        </IgbSelect>
    </div>
</div>

@code {
}
