@page "/input-details/search-results"
@using NorthwindCloudApp
@using Financial

<div class="row-layout input-details-search-container">
    <div class="column-layout group">
        <h5 class="h5">
            Input details
        </h5>
        <div class="row-layout group_1">
            <IgbInput Label="Label/Placeholder" Outlined="true" class="input" input_details_search-scope></IgbInput>
            <IgbButton Size="SizableComponentSize.Large" class="button" input_details_search-scope>
                Search
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="column-layout group_2">
            <div class="row-layout group_3">
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
            </div>
            <div class="row-layout group_3">
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
            </div>
            <div class="row-layout group_3">
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
            </div>
            <div class="row-layout group_3">
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
                <IgbCard Outlined="true" class="card" input_details_search-scope>
                    <div class="group_4">
                        <div class="row-layout">
                            <IgbCardHeader>
                                <div slot="thumbnail">
                                    <IgbCardMedia class="media-content" input_details_search-scope>
                                        <img src="assets/a06650fce7091f420c440f26201d916f775db29d.png" />
                                    </IgbCardMedia>
                                </div>
                                <h3 slot="title">
                                    Title goes here...
                                </h3>
                                <h5 slot="subtitle">
                                    Subtitle goes here...
                                </h5>
                            </IgbCardHeader>
                        </div>
                        <IgbCardContent class="body-content" input_details_search-scope>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_1" input_details_search-scope>
                                VIEW DETAILS
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardContent>
                    </div>
                    <span class="divider">Divider not yet available in Blazor</span>
                </IgbCard>
            </div>
        </div>
    </div>
</div>

@code {
}
