.row-layout {
    display: flex;
}
.list-details-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 0 2rem;
    position: relative;
    width: 100%;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    background-color: hsla(var(--ig-gray-100));
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 0 1rem;
    height: 340px;
    min-width: 50px;
    min-height: 50px;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 0 1rem;
    min-width: 50px;
    min-height: 50px;
    align-self: center;
}
.group_3 {
    border-bottom: 1px solid #E0E0E0;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 346px;
    min-width: 50px;
    min-height: 50px;
}
.group_4 {
    border-bottom: 1px solid #E0E0E0;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 340px;
    min-width: 50px;
    min-height: 50px;
}
.group_5 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 340px;
    min-width: 50px;
    min-height: 50px;
}
.group_6 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 713px;
    min-width: 50px;
    min-height: 50px;
    align-self: center;
}
.list {
    width: 214px;
    height: max-content;
    flex-shrink: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
}
.grid {
    margin: 20px 0;
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.grid_1 {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.image {
    object-fit: none;
    border-radius: 50%;
    margin: 3rem 0 0;
    width: 73px;
    height: 76px;
    min-width: 0;
    min-height: 0;
    align-self: center;
    flex-shrink: 0;
}
.h5 {
    margin: 1rem;
    height: max-content;
    min-width: min-content;
    align-self: center;
}
.text {
    height: max-content;
    min-width: min-content;
    align-self: center;
}
.text_1 {
    height: max-content;
    min-width: min-content;
}
