<div class="column-layout group">
  <igx-simple-combo type="border" [data]="northwindCustomers" valueKey="customerID" displayKey="contactName"
    [(ngModel)]="selectedCustomer" class="combo" (selectionChanging)="handleSelection()">
    <label igxLabel>Pick customer</label>
  </igx-simple-combo>
  <div class="column-layout group_1">
    <button igxButton="raised" igxRipple routerLink="/select-details" class="button">
      Previous
    </button>
  </div>
</div>
<div class="column-layout group_2">
  <div class="row-layout group_3">
    <div class="column-layout group_4" *ngFor="let item of selectedCustomerData">
      <div class="row-layout group_5">
        <div class="column-layout group_6">
          <h5 class="content">
            {{ item.contactName }}
          </h5>
          <p class="ig-typography__subtitle-1 content">
            {{ item.customerID }}
          </p>
        </div>
      </div>
      <div class="column-layout group_7">
        <p class="ig-typography__subtitle-2 content">
          Title
        </p>
        <p class="content">
          {{ item.contactTitle }}
        </p>
      </div>
      <div class="column-layout group_7">
        <p class="ig-typography__subtitle-2 content">
          Email
        </p>
        <p class="content">
          Email should be here
        </p>
      </div>
      <div class="column-layout group_7">
        <p class="ig-typography__subtitle-2 content">
          Phone
        </p>
        <p class="content">
          {{ item.address.phone }}
        </p>
      </div>
      <div class="column-layout group_8">
        <p class="ig-typography__subtitle-2 content">
          Street
        </p>
        <p class="content">
          {{ item.address.street }}
        </p>
      </div>
      <div class="row-layout group_9">
        <div class="column-layout group_10">
          <p class="ig-typography__subtitle-2 content">
            City
          </p>
          <p class="content">
            {{ item.address.city }}
          </p>
        </div>
        <div class="column-layout group_11">
          <p class="ig-typography__subtitle-2 content">
            State
          </p>
          <p class="content">
            {{ item.address.country }}
          </p>
        </div>
      </div>
      <div class="column-layout group_8">
        <p class="ig-typography__subtitle-2 content">
          Country
        </p>
        <p class="content">
          Germany
        </p>
      </div>
    </div>
    <div class="column-layout group_12">
      <p class="content">
        Should be allowed to query data based on param or filter after fetching data
      </p>
      <div class="column-layout group_18">
        <igx-grid [data]="selectedOrdersData" primaryKey="orderID" displayDensity="cosy" rowSelection="single"
          [hideRowSelectors]="true" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid"
          (rowSelectionChanging)="orderSelected($event)">
          <igx-grid-toolbar>
            <igx-grid-toolbar-title>Orders</igx-grid-toolbar-title>
          </igx-grid-toolbar>
          <igx-column field="orderID" dataType="number" header="orderID" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="customerID" dataType="string" header="customerID" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="employeeID" dataType="number" header="employeeID" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="orderDate" dataType="date" header="orderDate" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="requiredDate" dataType="date" header="requiredDate" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shippedDate" dataType="date" header="shippedDate" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipVia" dataType="number" header="shipVia" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="freight" dataType="number" header="freight" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipName" dataType="string" header="shipName" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipAddress.street" dataType="string" header="shipAddress street" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipAddress.city" dataType="string" header="shipAddress city" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipAddress.region" dataType="string" header="shipAddress region" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipAddress.postalCode" dataType="string" header="shipAddress postalCode" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="shipAddress.country" dataType="string" header="shipAddress country" [sortable]="true"
            [selectable]="false"></igx-column>
        </igx-grid>
      </div>
      <div class="column-layout group_18">
        <igx-grid [data]="selectedOrdersDetails" primaryKey="orderID" displayDensity="cosy" rowSelection="single"
          cellSelection="none" [hideRowSelectors]="true" [allowFiltering]="true" filterMode="excelStyleFilter"
          class="grid" [isLoading]="detailsAreLoading">
          <igx-grid-toolbar>
            <igx-grid-toolbar-title>Order details</igx-grid-toolbar-title>
          </igx-grid-toolbar>
          <igx-column field="orderId" dataType="number" header="orderId" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="productID" dataType="string" header="productID" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="unitPrice" dataType="string" header="unitPrice" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="quantity" dataType="string" header="quantity" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="discount" dataType="string" header="discount" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="order" dataType="string" header="order" [sortable]="true"
            [selectable]="false"></igx-column>
          <igx-column field="product" dataType="string" header="product" [sortable]="true"
            [selectable]="false"></igx-column>
        </igx-grid>
      </div>
    </div>
  </div>
</div>
