<div class="row-layout group">
  <igx-select type="border" class="select">
    <igx-select-item [value]="item.customerID" *ngFor="let item of northwindJasonCustomer">
      {{ item.country }}
    </igx-select-item>
    <label igxLabel>Pick country</label>
  </igx-select>
  <igx-select type="border" class="select">
    <igx-select-item [value]="item.customerID" *ngFor="let item of northwindJasonCustomer">
      {{ item.city }}
    </igx-select-item>
    <label igxLabel>Pick Region</label>
  </igx-select>
  <igx-select type="border" class="select">
    <igx-select-item value="Option">
      Option
    </igx-select-item>
    <label igxLabel>Pick state</label>
  </igx-select>
</div>
<div class="row-layout group_1">
  <h5 class="h5">
    Country
  </h5>
  <h5 class="h5">
    Region
  </h5>
  <h5 class="h5">
    City
  </h5>
</div>
