<div class="row-layout group">
  <igx-select type="border" class="select">
    <igx-select-item [value]="item.regionID" *ngFor="let item of northwindRegions">
      {{ item.name }}
    </igx-select-item>
    <label igxLabel>Pick country</label>
  </igx-select>
  <igx-select type="border" class="select">
    <igx-select-item [value]="item.unitPrice" *ngFor="let item of northwindProducts">
      {{ item.categoryID }}
    </igx-select-item>
    <label igxLabel>Pick Region</label>
  </igx-select>
  <igx-select type="border" class="select">
    <igx-select-item [value]="item.name" *ngFor="let item of northwindCategories">
      {{ item.description }}
    </igx-select-item>
    <label igxLabel>Pick state</label>
  </igx-select>
</div>
<div class="row-layout group_1">
  <h5 class="h5">
    Country
  </h5>
  <h5 class="h5">
    Region
  </h5>
  <h5 class="h5">
    City
  </h5>
</div>
